
@mixin placeholder($color) {
    &::-webkit-input-placeholder { color: $color; }
    &::-moz-placeholder { color: $color; }
    &:-ms-input-placeholder { color: $color; }
    &:-moz-placeholder { color: $color; }
}


form
    {
    background: $white;
    border-radius: 4px;
    padding: 30px;
    .form-group .lb_label {color: $off-off-white;}
    input[type=text], input[type=password], input[type=email]
        {
        border: none;
        border-bottom: 1px solid $light-grey;
        font-size: $reg;
        outline: none;
        width: 100%;
        padding: 4px 0px;
        @include placeholder(#B8B9B9);
        }
    .btn-square
        {
        width: 120px;
        padding: 12px 0px;
        float: right;
        }

    .form-group
        {
        padding: 12px 0 0 0;
        display: inline-block;
        width: calc(100% - 140px);
        }
    }

form .form-group.invalid
    {
    .lb_label { color: $red; }
    input { border-bottom-color: $red; }
    }

form .form-group.valid
    {
    .lb_label { color: $off-off-white; }
    input { border-bottom-color: $light-grey; }
    .lb_wrap:after
        {
        @include icon;
        content: '\63';
        font-size: 80%;
        position: absolute;
        right: -5px;
        bottom: 1px;
        color: $green;
        }
    }

form.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake
    {
    10%, 90% { transform: translate3d(-1px, 0, 0); }
    20%, 80% { transform: translate3d(2px, 0, 0); }
    30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
    40%, 60% { transform: translate3d(4px, 0, 0); }
    }
