
.center
    {
    text-align: center;
    }

@mixin button($color) {
    color: $white;
    background: $color;
    cursor: pointer;
    outline: none;
    &.ghost
        {
        background: none;
        border: 1px solid $color;
        color: $color;
        &:hover
            {
            background: $color;
            color: $white;
            }
        }
}

.btn
    {
    text-align: center;
    margin: 0px auto;
    padding: 12px 40px;
    text-decoration: none !important;
    font-size: $reg;
    font-weight: 700 !important;
    display: inline-block;
    border: none;
    border-radius: 100px;
    @include button($grey);
    &.btn-white { @include button($white); }
    &.btn-white.ghost:hover { color: $red; }
    &.btn-light { @include button($light-grey); }
    &.btn-red { @include button($red); }
    &.btn-green { @include button($green); }
    &.btn-square {border-radius: 4px; font-weight: 400;}
    &.btn-small
        {
        font-weight: 400 !important;
        padding: 8px 32px;
        }
    }

div.content
    {
    width: 100%;
    max-width: 960px;
    margin: 0px auto;
    &.narrow {max-width: 600px;}
    }


div.splitscreen
    {
    position: relative;
    .left
        {
        height: 100%;
        width: calc(50% - 42px);
        padding-right: 40px;
        border-right: 2px solid $white;
        }
    .right
        {
        position: absolute;
        width: calc(50% - 40px);
        left: 50%;
        top: 0px;
        }
    &.centered .left {text-align: right;}
    &.centered .right {text-align: left;}
    }
