
#profile
    {
    text-align: center;
    .stats .third
        {
        width: 33%;
        display: inline-block;
        color: $light-grey;
        font-size: $small;
        .big
            {
            color: $grey;
            font-size: $large;
            margin: 10px 0;
            }
        }
    .right
        {
        text-align: left;
        display: inline-block;
        vertical-align: middle;
        }
    #name
        {
        font-family: Lato;
        color: $grey;
        font-weight: 700;
        font-size: $xlarge;
        width: auto;
        display: inline;
        outline: none;
        }
    .email
        {
        color: $light-grey;
        }
    }

#edit_name
    {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../img/pen.png) center center no-repeat transparent;
    background-size: 24px 24px;
    opacity: .3;
    &:hover {opacity: 1};
    }

#save_name
    {
    display: none;
    }

