
/* ****************************************************************** */
/* Session chooser */
/* ****************************************************************** */


.session_chooser
    {
    position: absolute;
    width: 100%;
    bottom: 50px;
    font-size: $xsmall;

    &.hidden {display: none;}
    .full, .compact
        {
        text-align: center;
        background: $light-grey;
        display: inline-block;
        // width: auto;
        padding: 5px 8px;
        border-radius: 2px;
        color: $off-white;
        -webkit-font-smoothing: antialiased;
        font-weight: 400;
        margin-bottom: 20px;
        position: relative;
        &:after
            {
            content: "";
            display: block;
            border: 10px solid transparent;
            border-top-color: $light-grey;
            position: absolute;
            bottom: -20px;
            left: calc(50% - 10px);
            }
        }
    .full
        {
        box-shadow: 0px 2px 5px 1px rgba(0,0,0,.1);
        .tabs
            {
            margin: 5px 0 10px 0;
            color: $off-off-white;
            cursor: pointer;
            }
        &.timed
            {
            .tabs span.timed {color: $white; -webkit-font-smoothing: subpixel-antialiased;}
            .tab-timed { display: block; }
            .tab-words { display: none; }
            }
        &.words
            {
            .tabs span.words {color: $white; -webkit-font-smoothing: subpixel-antialiased;}
            .tab-timed { display: none; }
            .tab-words { display: block; }
            }
        .radios
            {
            margin: 10px;
            }
        }

    input[type=checkbox] {
    }

    .tab-hardcore
        {
            label { cursor: pointer; }
            input { display: none; }
            margin: 15px 0;
        }
    #hardcore-check
        {
        cursor: pointer;
        background: none;
        display: inline-block;
        margin-right: 10px;
        visibility: hidden;
        }
    #hardcore-check:before
        {
        content: "";
        visibility: visible;
        width: 13px;
        height: 13px;
        margin-top: -2px;
        border: 1px solid $off-off-white;
        display: inline-block;
        position: absolute;
        }
    #hardcore-check:checked:before
        {
        border-color: $white;
        background: $white;
        box-shadow: inset 0px 0px 0px 2px $light-grey;
        }

    #hardcore-check:checked + label { color: $white;}

    input[type=radio] { display: none; }
    input[type=radio] + label
        {
        border-radius: 50%;
        opacity: .5;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        min-width: 26px;
        line-height: 26px;
        height: 26px;
        border: 1px solid transparent;
        }
    input[type=radio]:checked + label
        {
        opacity: 1;
        -webkit-font-smoothing: subpixel-antialiased;
        border: 1px solid $white;
        }


    .compact
        {
        line-height: 16px;
        cursor: pointer;
        &:hover .edit { color: $white;}
        }
    span.choice
        {
        color: white;
        margin-left: 2px;
        border-bottom: 1px dotted $off-white;
        }
    i.edit.icon-pencil {color: $off-off-white; margin-right: 0px;}
    }

.write_button_wrap
    {
    z-index: 1000;
    position: relative;
    &.small .session_chooser {bottom: 40px;}
    }

