#hardcore
    {
    font-size: 300pt;
    font-family: Merriweather;
    text-align: center;
    color: $grey;
    width: 100%;
    // max-width: 600px;
    position: absolute;
    height: calc(100% - 60px);
    margin: 0px auto;
    box-sizing: border-box;
    pointer-events: none;
    }

body.night-mode
    {
    background: $dark;

    color: $off-white;
    #input { color: $off-white; }
    #wordcount { opacity: .2; }
    #input.hardcore { color: $grey; }
    #hardcore { color: $off-white; }
    #input-wrap
        {
        &.cut-top:before { background: linear-gradient(to bottom, $dark 0%, transparent 100%); }
        &.cut-bottom:after { background: linear-gradient(to bottom, transparent 0%, $dark 100%); }
        }
    .btn.btn-grey { @include button($off-off-white); }
    #progress
        {
        background: $light-blue;
        box-shadow: -1px 1px 4px fade-out($light-blue, .5);
        }
    #toggle-night-mode {transform: rotate(180deg);}
    }

.content.full-height
    {
    height: calc(100% - 1px);
    margin: 0px auto;
    padding-top: 1px;
    }

#die
    {
    display: none;
    position: absolute;
    min-height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    color: $white;
    font-size: $reg;
    transition: background-color .2s 1s linear;
    .proceed { display: none; }
    &.returning
        {
        .proceed {display: block;}
        .signup {display: none;}
        }
    h3
        {
        text-align: center;
        color: $white;
        font-weight: 700;
        font-size: $xxlarge;
        }
    .right
        {
        text-align: center;
        margin-top: 40px;
        }

    p.rescue_instructions
        {
        font-family: Merriweather;
        font-weight: 300;
        color: white;
        font-size: $reg;
        text-align: center;
        margin-bottom: 40px;
        line-height: 160%;
        }
    .content
        {
        position: relative;
        opacity: 0;
        margin-top: 150px;
        transition: opacity .1s .4s linear;
        }
    &.visible
        {
        .bar {width: 100%;}
        .content {opacity: 1;}
        background: $red;
        }

    .bar-wrap
        {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px;
        overflow: hidden;
        }
    .bars
        {
        position: absolute;
        height: 200%;
        width: 200%;
        top: -50%;
        left: -50%;
        transform: rotate(-25deg);
        }
    .bar
        {
        background: $red;
        transition: width .7s ease-in;
        width: 0%;
        height: 35%;
        position: absolute;
        top: 0px;
        }
    .bar-1 { left: 0px;}
    .bar-2 { right: 0px; top: 33%; }
    .bar-3 { left: 0px; top: 66%; }
    }

#wordcount
    {
    position: fixed;
    bottom: 40px;
    text-align: center;
    width: 100%;
    left: 0px;
    opacity: .4;
    }


#win
    {
    position: fixed;
    bottom: 20px;
    text-align: center;
    width: 100%;
    display: none;
    left: 0px;
    a {margin-right: 20px;}
    .btn, .write_button_wrap
        {
        display: inline-block;
        }
    }


#input-wrap
    {
    height: calc(100% - 160px);
    margin-top: 80px;
    position: relative;
    line-height: 1.65;
    font-size: $reg;

    &:before, &:after
        {
        content: "";
        width: 100%;
        height: 6em;
        display: block;
        position: absolute;
        left: 0px;
        top: 0;
        z-index: 100;
        pointer-events: none;
        transition: all 2s linear;
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 100%);
        }
    &.cut-top:before
        {
        background: linear-gradient(to bottom, $white 0%, rgba(255,255,255,0) 100%);
        }
    &.cut-bottom:after
        {
        top: auto; bottom: 0px;
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, $white 100%);
        }
    }

#buttons
    {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: $reg;
    i { opacity: .2; cursor: pointer; display: inline-block;}
    i:hover { opacity: 1; }
    }


#input
    {
    display: block;
    overflow: auto;
    width: 100%;
    padding: 0;
    height: 100%;
    margin: 0px;
    border: none;
    outline: none;
    background: transparent;
    line-height: 1.65;
    font-family: Merriweather;
    font-size: $reg;
    resize: none;
    &::selection
        {
        color: $white;
        background: $red;
        }
    &::-webkit-scrollbar { display: none; }
    &.hardcore { filter: blur(8px); color: $light-grey; padding: 8px;}
    }


#progress
    {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 4px;
    width: 0%;
    background: $blue;
    box-shadow: -1px 1px 4px fade-out($blue, .5);
    transition: all .3s ease-out;
    }

#progress, body.night-mode #progress
    {
    &.danger
        {
        background: $red;
        box-shadow: -1px 1px 4px fade-out($red, .5);
        }
    &.won
        {
        background: $green;
        height: 8px;
        box-shadow: 0px 2px 5px fade-out($green, .7);
        }
    &.hide
        {
        height: 4px;
        top: -4px;
        box-shadow: -1px 1px 4px transparent;
        }
    }
