html {
  font-size: 1em; }

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px; }

body.home, body.write {
  overflow: hidden; }

body {
  font-family: Lato;
  font-weight: 400;
  color: #51565D;
  background: #FFFEFA; }

.space-xl {
  height: 120px; }

.space-l {
  height: 80px; }

.space-m {
  height: 40px; }

.space-s {
  height: 20px; }

.center {
  text-align: center; }

.btn {
  text-align: center;
  margin: 0px auto;
  padding: 12px 40px;
  text-decoration: none !important;
  font-size: 1.333rem;
  font-weight: 700 !important;
  display: inline-block;
  border: none;
  border-radius: 100px;
  color: #FFFEFA;
  background: #51565D;
  cursor: pointer;
  outline: none; }
  .btn.ghost {
    background: none;
    border: 1px solid #51565D;
    color: #51565D; }
    .btn.ghost:hover {
      background: #51565D;
      color: #FFFEFA; }
  .btn.btn-white {
    color: #FFFEFA;
    background: #FFFEFA;
    cursor: pointer;
    outline: none; }
    .btn.btn-white.ghost {
      background: none;
      border: 1px solid #FFFEFA;
      color: #FFFEFA; }
      .btn.btn-white.ghost:hover {
        background: #FFFEFA;
        color: #FFFEFA; }
  .btn.btn-white.ghost:hover {
    color: #F45653; }
  .btn.btn-light {
    color: #FFFEFA;
    background: #6F7985;
    cursor: pointer;
    outline: none; }
    .btn.btn-light.ghost {
      background: none;
      border: 1px solid #6F7985;
      color: #6F7985; }
      .btn.btn-light.ghost:hover {
        background: #6F7985;
        color: #FFFEFA; }
  .btn.btn-red {
    color: #FFFEFA;
    background: #F45653;
    cursor: pointer;
    outline: none; }
    .btn.btn-red.ghost {
      background: none;
      border: 1px solid #F45653;
      color: #F45653; }
      .btn.btn-red.ghost:hover {
        background: #F45653;
        color: #FFFEFA; }
  .btn.btn-green {
    color: #FFFEFA;
    background: #86D045;
    cursor: pointer;
    outline: none; }
    .btn.btn-green.ghost {
      background: none;
      border: 1px solid #86D045;
      color: #86D045; }
      .btn.btn-green.ghost:hover {
        background: #86D045;
        color: #FFFEFA; }
  .btn.btn-square {
    border-radius: 4px;
    font-weight: 400; }
  .btn.btn-small {
    font-weight: 400 !important;
    padding: 8px 32px; }

div.content {
  width: 100%;
  max-width: 960px;
  margin: 0px auto; }
  div.content.narrow {
    max-width: 600px; }

div.splitscreen {
  position: relative; }
  div.splitscreen .left {
    height: 100%;
    width: calc(50% - 42px);
    padding-right: 40px;
    border-right: 2px solid #FFFEFA; }
  div.splitscreen .right {
    position: absolute;
    width: calc(50% - 40px);
    left: 50%;
    top: 0px; }
  div.splitscreen.centered .left {
    text-align: right; }
  div.splitscreen.centered .right {
    text-align: left; }

@font-face {
  font-family: 'mdwa';
  src: url("../fonts/mdwa.eot?62057485");
  src: url("../fonts/mdwa.eot?62057485#iefix") format("embedded-opentype"), url("../fonts/mdwa.woff2?62057485") format("woff2"), url("../fonts/mdwa.woff?62057485") format("woff"), url("../fonts/mdwa.ttf?62057485") format("truetype"), url("../fonts/mdwa.svg?62057485#mdwa") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "mdwa";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-left-open:before {
  content: '\3c'; }

/* '&lt;' */
.icon-list:before {
  content: '\3d'; }

/* '=' */
.icon-help:before {
  content: '\3f'; }

/* '?' */
.icon-beaker:before {
  content: '\62'; }

/* 'b' */
.icon-ok:before {
  content: '\63'; }

/* 'c' */
.icon-download:before {
  content: '\64'; }

/* 'd' */
.icon-github:before {
  content: '\67'; }

/* 'g' */
.icon-cursor:before {
  content: '\69'; }

/* 'i' */
.icon-quote-left:before {
  content: '\6c'; }

/* 'l' */
.icon-spin:before {
  content: '\6f'; }

/* 'o' */
.icon-pencil:before {
  content: '\70'; }

/* 'p' */
.icon-quote-right:before {
  content: '\72'; }

/* 'r' */
.icon-twitter:before {
  content: '\74'; }

/* 't' */
.icon-grid:before {
  content: '\78'; }

/* 'x' */
.icon-mdwa {
  display: inline-block;
  width: 1em;
  height: 1em;
  background: #F45653;
  vertical-align: -10%;
  box-shadow: inset 0px 0px 0px 0.125em #F45653, inset 0px 0px 0px 0.208em #FFFEFA; }

h2.tagline {
  font-family: Merriweather;
  font-weight: 400;
  font-size: 1.333rem;
  text-align: center; }
  h2.tagline::selection {
    color: #FFFEFA;
    background: #F45653; }
  h2.tagline .caret {
    display: inline-block;
    margin-left: -6px;
    color: #F45653;
    animation: PulseCaret linear 2s;
    animation-iteration-count: infinite;
    opacity: .1; }

footer.accolades {
  position: fixed;
  bottom: 20px;
  width: calc(100% - 40px);
  padding: 20px;
  z-index: -2; }
  footer.accolades img {
    width: 700px;
    max-width: 100%;
    margin: 0px auto;
    display: block; }

@keyframes PulseCaret {
  12% {
    opacity: 1; }
  80% {
    opacity: .1; } }
#logo {
  width: 500px;
  margin: 0px auto;
  position: relative; }
  #logo h1 {
    width: calc(100% - 172px);
    position: absolute;
    top: 0px;
    margin: 0px;
    padding: 0px;
    left: 172px;
    font-size: 3.157rem;
    font-weight: 900;
    height: 156px;
    line-height: 1em; }
    #logo h1 .line1, #logo h1 .line2, #logo h1 .line3 {
      word-break: nowrap;
      position: absolute;
      display: inline-block;
      width: 100%; }
    #logo h1 .line1 {
      top: -6px; }
    #logo h1 .line2 {
      top: 52px;
      color: #F45653; }
    #logo h1 .line3 {
      top: 110px; }
  #logo .mark {
    width: 156px;
    height: 156px;
    background: #F45653;
    box-shadow: inset 0px 0px 0px 20px #F45653, inset 0px 0px 0px 32px #FFFEFA; }
  #logo.small {
    width: 300px;
    margin: 24px auto 60px auto; }
    #logo.small h1 {
      width: 270px;
      font-size: 1rem;
      font-weight: 400;
      left: 30px;
      height: 24px; }
      #logo.small h1 .line1, #logo.small h1 .line2, #logo.small h1 .line3 {
        position: static;
        display: inline;
        line-height: 24px; }
    #logo.small .mark {
      width: 24px;
      height: 24px;
      box-shadow: inset 0px 0px 0px 3px #F45653, inset 0px 0px 0px 5px #FFFEFA; }
    #logo.small .caret {
      display: none; }

.banner {
  text-decoration: none;
  display: inline-block;
  background: #86D045;
  background: linear-gradient(to bottom, #86D045 0%, #7DBA48 100%);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 6px 24px;
  margin: 0px;
  color: #FFFEFA; }
  .banner:hover {
    background: linear-gradient(to bottom, #96E153 0%, #86D045 100%); }

nav {
  font-size: 1rem;
  position: absolute;
  z-index: 100;
  top: 20px;
  left: 20px;
  width: calc(100% - 40px); }
  nav #help:before, nav #back:before {
    content: '\3f';
    font-family: "mdwa";
    font-style: normal;
    font-weight: normal;
    font-size: 80%;
    speak: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #6F7985;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    margin: -2px 6px 0 0; }
  nav #back:before {
    content: '\3c';
    padding: 1px 2px 0 0;
    width: 18px;
    height: 19px; }
  nav div, nav a {
    opacity: .6;
    display: inline-block;
    cursor: pointer;
    color: #6F7985;
    text-decoration: none; }
    nav div:hover, nav a:hover {
      opacity: 1; }
  nav #login, nav #account {
    position: absolute;
    right: 0px;
    top: 0px;
    display: block; }
    nav #login .avatar, nav #account .avatar {
      margin-left: 6px; }

body.night-mode {
  background: #1a2026;
  color: #e2e3e3; }
  body.night-mode #input {
    color: #e2e3e3; }
  body.night-mode #wordcount {
    opacity: .2; }
  body.night-mode #input-wrap.cut-top:before {
    background: linear-gradient(to bottom, #1a2026 0%, transparent 100%); }
  body.night-mode #input-wrap.cut-bottom:after {
    background: linear-gradient(to bottom, transparent 0%, #1a2026 100%); }
  body.night-mode .btn.btn-grey {
    color: #FFFEFA;
    background: #c5c9cb;
    cursor: pointer;
    outline: none; }
    body.night-mode .btn.btn-grey.ghost {
      background: none;
      border: 1px solid #c5c9cb;
      color: #c5c9cb; }
      body.night-mode .btn.btn-grey.ghost:hover {
        background: #c5c9cb;
        color: #FFFEFA; }
  body.night-mode #progress {
    background: #6089C6;
    box-shadow: -1px 1px 4px rgba(96, 137, 198, 0.5); }

.content.full-height {
  height: calc(100% - 1px);
  margin: 0px auto;
  padding-top: 1px; }

#die {
  display: none;
  position: absolute;
  min-height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  color: #FFFEFA;
  font-size: 1.333rem;
  transition: background-color .2s 1s linear; }
  #die .proceed {
    display: none; }
  #die.returning .proceed {
    display: block; }
  #die.returning .signup {
    display: none; }
  #die h3 {
    text-align: center;
    color: #FFFEFA;
    font-weight: 700;
    font-size: 3.157rem; }
  #die .right {
    text-align: center;
    margin-top: 40px; }
  #die p.rescue_instructions {
    font-family: Merriweather;
    font-weight: 300;
    color: white;
    font-size: 1.333rem;
    text-align: center;
    margin-bottom: 40px;
    line-height: 160%; }
  #die .content {
    position: relative;
    opacity: 0;
    margin-top: 150px;
    transition: opacity .1s .4s linear; }
  #die.visible {
    background: #F45653; }
    #die.visible .bar {
      width: 100%; }
    #die.visible .content {
      opacity: 1; }
  #die .bar-wrap {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    overflow: hidden; }
  #die .bars {
    position: absolute;
    height: 200%;
    width: 200%;
    top: -50%;
    left: -50%;
    transform: rotate(-25deg); }
  #die .bar {
    background: #F45653;
    transition: width .7s ease-in;
    width: 0%;
    height: 35%;
    position: absolute;
    top: 0px; }
  #die .bar-1 {
    left: 0px; }
  #die .bar-2 {
    right: 0px;
    top: 33%; }
  #die .bar-3 {
    left: 0px;
    top: 66%; }

#wordcount {
  position: fixed;
  bottom: 40px;
  text-align: center;
  width: 100%;
  left: 0px;
  opacity: .4; }

#win {
  position: fixed;
  bottom: 20px;
  text-align: center;
  width: 100%;
  display: none;
  left: 0px; }
  #win a {
    margin-right: 20px; }
  #win .btn, #win .write_button_wrap {
    display: inline-block; }

#input-wrap {
  height: calc(100% - 160px);
  margin-top: 80px;
  position: relative;
  line-height: 1.65;
  font-size: 1.333rem; }
  #input-wrap:before, #input-wrap:after {
    content: "";
    width: 100%;
    height: 6em;
    display: block;
    position: absolute;
    left: 0px;
    top: 0;
    pointer-events: none;
    transition: all 2s linear;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%); }
  #input-wrap.cut-top:before {
    background: linear-gradient(to bottom, #FFFEFA 0%, rgba(255, 255, 255, 0) 100%); }
  #input-wrap.cut-bottom:after {
    top: auto;
    bottom: 0px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #FFFEFA 100%); }

#input {
  display: block;
  overflow: auto;
  width: 100%;
  padding: 0;
  height: 100%;
  margin: 0px;
  border: none;
  outline: none;
  background: transparent;
  line-height: 1.65;
  font-family: Merriweather;
  font-size: 1.333rem;
  resize: none; }
  #input::selection {
    color: #FFFEFA;
    background: #F45653; }
  #input::-webkit-scrollbar {
    display: none; }

#progress {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 4px;
  width: 0%;
  background: #4F6079;
  box-shadow: -1px 1px 4px rgba(79, 96, 121, 0.5);
  transition: all .3s ease-out; }

#progress.danger, body.night-mode #progress.danger {
  background: #F45653;
  box-shadow: -1px 1px 4px rgba(244, 86, 83, 0.5); }
#progress.won, body.night-mode #progress.won {
  background: #86D045;
  height: 8px;
  box-shadow: 0px 2px 5px rgba(134, 208, 69, 0.3); }
#progress.hide, body.night-mode #progress.hide {
  height: 4px;
  top: -4px;
  box-shadow: -1px 1px 4px transparent; }

#profile {
  text-align: center; }
  #profile .stats .third {
    width: 33%;
    display: inline-block;
    color: #6F7985;
    font-size: 1rem; }
    #profile .stats .third .big {
      color: #51565D;
      font-size: 1.777rem;
      margin: 10px 0; }
  #profile .right {
    text-align: left;
    display: inline-block;
    vertical-align: middle; }
  #profile #name {
    font-family: Lato;
    color: #51565D;
    font-weight: 700;
    font-size: 2.369rem;
    width: auto;
    display: inline;
    outline: none; }
  #profile .email {
    color: #6F7985; }

#edit_name {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../img/pen.png) center center no-repeat transparent;
  background-size: 24px 24px;
  opacity: .3; }
  #edit_name:hover {
    opacity: 1; }

#save_name {
  display: none; }

form {
  background: #FFFEFA;
  border-radius: 4px;
  padding: 30px; }
  form .form-group .lb_label {
    color: #c5c9cb; }
  form input[type=text], form input[type=password], form input[type=email] {
    border: none;
    border-bottom: 1px solid #6F7985;
    font-size: 1.333rem;
    outline: none;
    width: 100%;
    padding: 4px 0px; }
    form input[type=text]::-webkit-input-placeholder, form input[type=password]::-webkit-input-placeholder, form input[type=email]::-webkit-input-placeholder {
      color: #B8B9B9; }
    form input[type=text]::-moz-placeholder, form input[type=password]::-moz-placeholder, form input[type=email]::-moz-placeholder {
      color: #B8B9B9; }
    form input[type=text]:-ms-input-placeholder, form input[type=password]:-ms-input-placeholder, form input[type=email]:-ms-input-placeholder {
      color: #B8B9B9; }
    form input[type=text]:-moz-placeholder, form input[type=password]:-moz-placeholder, form input[type=email]:-moz-placeholder {
      color: #B8B9B9; }
  form .btn-square {
    width: 120px;
    padding: 12px 0px;
    float: right; }
  form .form-group {
    padding: 12px 0 0 0;
    display: inline-block;
    width: calc(100% - 140px); }

form .form-group.invalid .lb_label {
  color: #F45653; }
form .form-group.invalid input {
  border-bottom-color: #F45653; }

form .form-group.valid .lb_label {
  color: #c5c9cb; }
form .form-group.valid input {
  border-bottom-color: #6F7985; }
form .form-group.valid .lb_wrap:after {
  font-family: "mdwa";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\63';
  font-size: 80%;
  position: absolute;
  right: -5px;
  bottom: 1px;
  color: #86D045; }

form.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px; }

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    transform: translate3d(4px, 0, 0); } }
#profile_link {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right; }
  #profile_link a {
    opacity: .7;
    text-decoration: none;
    color: #333;
    transition: all .2s ease-out; }
    #profile_link a:hover {
      opacity: 1; }

.avatar {
  width: 32px;
  height: 32px;
  background: url() center center no-repeat rgba(0, 0, 0, 0.03);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  background-size: cover;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin: 0; }
  .avatar.huge {
    width: 128px;
    height: 128px;
    margin-right: 18px; }

#drafts {
  list-style: none;
  padding: 0px;
  margin: 0; }
  #drafts li {
    display: inline-block;
    margin: 10px;
    width: calc(100% / 3 - 65px);
    padding: 20px;
    background: white;
    border-top: 4px solid #6F7985;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); }
    #drafts li p {
      color: #51565D;
      font-family: Merriweather;
      line-height: 135%;
      height: 4.05em;
      overflow: hidden;
      -webkit-font-smoothing: antialiased;
      margin: 0px;
      position: relative; }
      #drafts li p:after {
        content: "";
        display: block;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 1.5em; }
    #drafts li .stats {
      font-size: 0.75rem;
      color: #6F7985;
      margin-top: 10px; }
      #drafts li .stats .length {
        float: right; }

#drafts {
  list-style: none;
  padding: 0px;
  margin: 0; }
  #drafts li {
    margin: 0;
    display: block;
    width: calc(100% - 40px);
    padding: 20px;
    background: #FFFEFA;
    border-radius: 2px;
    border: none;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.1);
    transition: all .2s ease-out; }
    #drafts li p {
      color: #51565D;
      font-family: Merriweather;
      font-size: 0.75rem;
      line-height: 160%;
      height: 12.8em;
      overflow: hidden;
      -webkit-font-smoothing: antialiased;
      margin: 0 0 10px 0;
      position: relative; }
      #drafts li p:after {
        content: "";
        display: block;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #FFFEFA 100%);
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 6.4em; }
    #drafts li .date, #drafts li .length {
      font-size: 0.75rem;
      color: #6F7985;
      display: block; }
    #drafts li .date {
      margin-bottom: 10px; }
    #drafts li .length {
      text-align: right;
      opacity: .5; }
    #drafts li:before, #drafts li:after {
      content: "";
      position: absolute;
      display: block;
      width: 40%;
      height: 10px;
      left: 1px;
      background: red;
      bottom: 4px;
      transform: skew(-5deg) rotate(-5deg);
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.07);
      z-index: -1; }
    #drafts li:after {
      left: auto;
      right: 1px;
      transform: skew(5deg) rotate(5deg); }
  #drafts a {
    display: inline-block;
    text-decoration: none;
    position: relative;
    width: calc(100% / 4 - 29px);
    margin: 10px;
    padding: 0;
    z-index: 1;
    position: relative;
    transition: all .2s ease-out; }
    #drafts a:hover {
      transform: scale(1.1) rotate(2deg); }
      #drafts a:hover li {
        box-shadow: 0px 4px 12px 4px rgba(0, 0, 0, 0.05); }
    #drafts a:nth-child(2):hover {
      transform: scale(1.1) rotate(-1.1deg); }
    #drafts a:nth-child(3):hover {
      transform: scale(1.1) rotate(0.8deg); }
    #drafts a:nth-child(5):hover {
      transform: scale(1.1) rotate(-1.6deg); }

#backdrop {
  padding: 40px 0;
  background: linear-gradient(to bottom, #FFFEFA 0%, #FCFBF7 10%); }

.help #logo {
  margin: 0px auto 10px auto; }
.help p {
  font-family: Merriweather;
  font-size: 1rem;
  color: #51565D;
  font-weight: 400;
  line-height: 1.65; }
.help h2 {
  margin-top: 2em;
  color: #51565D; }
.help p a {
  text-decoration: none;
  color: #F45653; }
  .help p a:hover {
    text-decoration: underline; }
.help abbr {
  text-decoration: none;
  border-bottom: 1px dashed #6F7985; }
.help a.presskit {
  display: inline-block;
  background: url("../bin/presskit.png") center center no-repeat transparent;
  width: 208px;
  background-size: cover;
  height: 192px;
  margin-right: 20px;
  float: left;
  transition: all .2s ease-out; }
  .help a.presskit:hover {
    transform: scale(1.05);
    opacity: .8; }
.help blockquote {
  margin: 1em 2em;
  padding: 0; }
  .help blockquote p {
    position: relative;
    text-align: center; }
    .help blockquote p i.icon-quote-right, .help blockquote p i.icon-quote-left {
      color: #e2e3e3;
      font-size: 1.777rem;
      display: inline-block; }
    .help blockquote p i.icon-quote-right {
      vertical-align: -.5em;
      margin-left: -5px; }
    .help blockquote p i.icon-quote-left {
      vertical-align: .3em;
      margin-right: -10px; }
  .help blockquote p.author {
    text-align: right;
    font-size: 0.75rem;
    opacity: .7;
    margin: -2.5em 4em 0 0; }

/* ****************************************************************** */
/* Session chooser */
/* ****************************************************************** */
.session_chooser {
  position: absolute;
  width: 100%;
  bottom: 50px; }
  .session_chooser.hidden {
    display: none; }
  .session_chooser .full, .session_chooser .compact {
    text-align: center;
    background: #6F7985;
    display: inline-block;
    padding: 5px 8px;
    border-radius: 2px;
    color: #e2e3e3;
    font-size: 0.75rem;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    margin-bottom: 20px;
    position: relative; }
    .session_chooser .full:after, .session_chooser .compact:after {
      content: "";
      display: block;
      border: 10px solid transparent;
      border-top-color: #6F7985;
      position: absolute;
      bottom: -20px;
      left: calc(50% - 10px); }
  .session_chooser .full {
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1); }
    .session_chooser .full .tabs {
      margin: 5px 0 10px 0;
      color: #c5c9cb; }
      .session_chooser .full .tabs .span {
        cursor: pointer; }
    .session_chooser .full.timed .tabs span.timed {
      color: #FFFEFA;
      -webkit-font-smoothing: subpixel-antialiased; }
    .session_chooser .full.timed .tab-timed {
      display: block; }
    .session_chooser .full.timed .tab-words {
      display: none; }
    .session_chooser .full.words .tabs span.words {
      color: #FFFEFA;
      -webkit-font-smoothing: subpixel-antialiased; }
    .session_chooser .full.words .tab-timed {
      display: none; }
    .session_chooser .full.words .tab-words {
      display: block; }
    .session_chooser .full .radios {
      margin: 10px; }
  .session_chooser input[type=radio] {
    display: none; }
  .session_chooser input[type=radio] + label {
    border-radius: 50%;
    opacity: .5;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    width: 24px;
    line-height: 24px;
    height: 24px;
    border: 1px solid transparent; }
  .session_chooser input[type=radio]:checked + label {
    opacity: 1;
    -webkit-font-smoothing: subpixel-antialiased;
    border: 1px solid #FFFEFA; }
  .session_chooser .compact {
    line-height: 16px;
    cursor: pointer; }
    .session_chooser .compact:hover .edit {
      color: #FFFEFA; }
  .session_chooser span.choice {
    color: white;
    margin-left: 2px;
    border-bottom: 1px dotted #e2e3e3; }
  .session_chooser i.edit.icon-pencil {
    color: #c5c9cb;
    margin-right: 0px; }

.write_button_wrap {
  position: relative; }
  .write_button_wrap.small .session_chooser {
    bottom: 40px; }

#tweet {
  border: 1px solid #FFFEFA;
  color: #FFFEFA;
  text-decoration: none;
  border-radius: 4px;
  padding: 8px 12px;
  font-family: Merriweather;
  text-align: left;
  line-height: 150%;
  display: block;
  margin-bottom: 30px;
  position: relative;
  opacity: .5;
  margin-left: 60px; }
  #tweet.narrow {
    margin: 0px 120px; }
  #tweet.dark {
    border: 1px solid #1D8EF0;
    opacity: 1;
    color: #51565D; }
    #tweet.dark:before {
      border-right: 10px solid #1D8EF0; }
    #tweet.dark:after {
      color: #1D8EF0; }
    #tweet.dark:hover {
      color: #FFFEFA;
      background: #1D8EF0; }

#tweet:hover {
  opacity: 1; }

#tweet:before {
  content: "";
  display: block;
  position: absolute;
  left: -20px;
  top: calc(50% - 10px);
  border: 10px solid transparent;
  border-right: 10px solid #FFFEFA; }

#tweet:after {
  font-family: "mdwa";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\74';
  display: block;
  position: absolute;
  font-size: 2.369rem;
  left: -60px;
  color: #FFFEFA;
  bottom: calc(50% - 20px); }

@media (max-height: 600px) {
  .space-xl {
    height: 60px; }

  .space-l {
    height: 40px; }

  .space-m {
    height: 20px; }

  .space-s {
    height: 10px; }

  #input-wrap {
    margin-top: 20px; } }
@media (max-width: 680px) {
  html {
    font-size: .75em; }

  body.home, body.write {
    overflow: auto; }

  #logo {
    width: 270px; }
    #logo .mark {
      width: 90px;
      height: 90px;
      box-shadow: inset 0px 0px 0px 12px #F45653, inset 0px 0px 0px 18px #FFFEFA; }
    #logo h1 {
      width: calc(100% - 100px);
      left: 100px;
      font-size: 2.369rem; }
      #logo h1 .line1 {
        top: -2px; }
      #logo h1 .line2 {
        top: 30px; }
      #logo h1 .line3 {
        top: 64px; }
    #logo.small {
      width: 210px; }

  .btn {
    padding: 8px 28px;
    font-size: 1.333rem; }
    .btn.btn-small {
      padding: 6px 18px; }

  .session_chooser {
    bottom: 30px; }
    .session_chooser .full, .session_chooser .compact {
      padding: 2px 8px; }

  .write_button_wrap.small .session_chooser {
    bottom: 28px; }

  #tweet.narrow {
    margin: 0 0 0 60px; }

  footer.accolades {
    padding: 0px;
    width: 100%;
    left: 0px; }
    footer.accolades img {
      width: calc(100% - 40px); }

  #input-wrap {
    margin: 20px;
    height: calc(100% - 100px); }

  #die .content {
    margin: 0px;
    padding: 20px;
    box-sizing: border-box; }

  div.splitscreen .left, div.splitscreen .right {
    height: auto;
    width: 100%;
    border: none;
    padding: 0;
    left: auto;
    position: static; }

  form {
    max-width: 300px;
    margin: 0px auto; }

  .content {
    padding: 0px 20px;
    box-sizing: border-box; } }
aside {
  position: absolute;
  display: block;
  width: auto;
  text-align: right;
  transform: rotate(7deg);
  top: -50px;
  right: 24px;
  transform-origin: left top;
  transition: all 1s 2s cubic-bezier(0.3, 0.87, 0.73, 1.15);
  opacity: 0; }
  aside.show {
    transform: rotate(0deg);
    top: 16px;
    opacity: 1; }
