$red: #F45653;
$grey: #51565D;
$blue: #4F6079;
$light-grey: #6F7985;
$green: #86D045;
$white: #FFFEFA;
$off-white: mix($white, $light-grey, 80%);
$off-off-white: mix($white, $light-grey, 60%);

$xxlarge: 3.157rem;
$xlarge: 2.369rem;
$large: 1.777rem;
$reg: 1.333rem;
$small: 1rem;
$xsmall: 0.75rem;


@import 'layout';
@import 'icons';
@import 'home';
@import 'nav';
@import 'write';
@import 'profile';
@import 'form';
@import 'dashboard';
@import 'help';
@import 'write_button';
@import 'tweet';
@import 'mobile';
