html, body, #content { height: 100%; }
#content
    {
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    max-width: 600px;
    width: 100%;
    margin: 0px auto;
    }
body {
    background-color: #FFFCEF;
    margin: 0px;
    overflow: hidden;
    box-shadow: inset 0px 0px 10px 0px rgba(242, 77, 77);
    font-family: Inconsolata, "Courier New", Courier, monospace;
}
#logo
    {
    color: #F25757;
    text-transform: uppercase;
    height: 20px;
    position: absolute;
    top: 22px;
    left: 0;
    width: 100%;
    line-height: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    }
#logo:before
    {
    content: "";
    display: inline-block;
    width: 19px;
    height: 19px;
    background: url(favicon.png) top left no-repeat white;
    background-size: 19px 19px;
    margin-right: 5px;
    margin-top: -2px;
    vertical-align: middle;
    }

#status, #status_lower
    {
    color: rgb(120, 120, 120);
    font-family: Inconsolata, "Courier New", Courier, monospace;        
    font-size: 16pt;
    opacity: 0;
    height: 20px;
    margin-bottom: 20px;
    }
#status_lower { color: #e0dddd; }
#win_button
    {
    display: none;
    background: none;
    font-family: Inconsolata, "Courier New", Courier, monospace;        
    font-size: 16pt;
    padding: 5px 10px;
    float: right;
    border: 1px solid #BADD8B;
    margin-top: -5px;
    color: #BADD8B;
    cursor: pointer;
    }
#win_button:hover
    {
    color: #FFFCEF;
    background: #BADD8B;
    }
#time
    {
    float: right;
    }
#start, #die, #help
    {
    width: 400px;
    padding: 20px;
    position: absolute;
    top: calc(50% - 175px);
    left: calc(50% - 220px);
    background: #383030;
    color: #FFFCEF;
    }
#die
    {
    top: calc(50% - 90px);
    background: #F25757;
    display: none;
    }
#tweet
    {
    border: 1px solid #FFFCEF;
    color: #FFFCEF;
    text-decoration: none;
    border-radius: 4px;
    padding: 10px;
    display: block;
    margin-bottom: 30px;
    position: relative;
    opacity: .5;
    }
#tweet:hover { opacity: 1; }
#tweet:before
    {
    content: "";
    display: block;
    position: absolute;
    right: 25px;
    bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid #FFFCEF;
    }
#tweet:after
    {
    content: "";
    display: block;
    position: absolute;
    right: 20px;
    bottom: -45px;
    width: 32px;
    height: 32px;
    background: url(bird.png) center center no-repeat;
    background-size: 100%;
    }
#help
    {
    margin-top: -1px;
    background: #FFFCEF;
    top: calc(50% - 180px);
    display: none;
    color: #383030;
    /*display: none;*/
    }

#help a 
    {
    color: #383030;
    text-decoration: underline;
    }
#help a:hover
    {
    color: #4796C2;
    }

#start .radios
    {
    margin: 20px 0;
    text-align: center;
    }
#start input[type=radio]
    {
    display: none;
    }
#author
    {
    position: absolute;
    bottom: -30px;
    width: 100%;
    left: 0;
    text-align: center;
    color: #383030;
    }
#author a { color: #383030; }
#author a:hover { color: #4796C2; }
.instructions
    {
    margin: 20px 0;
    text-align: center;
    font-size: 16pt;
    }
.instructions.darker
    {
    opacity: .5;
    font-size: 12pt;
    }
#start input[type=radio] + label
    {
    padding: 5px;
    opacity: .5;
    border: 1px solid transparent;
    cursor: pointer;
    }
#start input[type=radio]:checked + label
    {
    border: 1px solid #FFFCEF;
    opacity: 1;
    }
#start input[type=radio] + label:hover
    {
    border: 1px solid #FFFCEF;
    }
#start_button, #retry_button, #hide_help
    {
    font-family: Inconsolata, "Courier New", Courier, monospace;
    border: 1px solid #FFFCEF;
    color: #FFFCEF;
    cursor: pointer;
    font-size: 16pt;
    background: none;
    padding: 10px 20px;
    display: block;
    margin: 20px auto 20px auto;
    outline: none;
    }
#start_button:hover {
    background: #FFFCEF;
    color: #383030;
}
#retry_button:hover {
    background: #FFFCEF;
    color: #F25757;
}
#hide_help
    {
    margin-top: 40px;
    color: #383030;
    border-color: #383030;
    }
#hide_help:hover
    {
    color: #FFFCEF;
    background: #383030;
    }
.subtitle
    {
    text-align: center;
    margin: 30px 0 10px 0;
    font-size: 10pt;
    }
textarea
    {
    color: rgb(26, 26, 26);
    font-family: Inconsolata, "Courier New", Courier, monospace;
    width: 100%;
    height: calc(100% - 60px);
    margin: 0px auto;
    box-sizing: border-box;
    border: none;
    outline: none;
    line-height: 160%;
    font-size: 16pt;
    background: none;
    }
button.text, a.text
    {
    font-family: Inconsolata, "Courier New", Courier, monospace;
    color: #FFFCEF;
    opacity: .5;
    font-size: 10pt;
    text-decoration: underline;
    border: none;
    background: none;
    outline: none;
    }
.text:hover
    {
    cursor: pointer;
    opacity: 1;
    }
