.content
    {
    width: 100%;
    max-width: 600px;
    margin: 0px auto;

    height: calc(100% - 1px);
    margin: 0px auto;
    padding-top: 1px;
    }

.app
    {
    position: absolute;
    height: 100%;
    width: 100%;
    background: $white;
    color: $grey;
    font-weight: 400;

    &.night-mode
        {
        background: $dark;
        color: $off-white;
        i.icon-night-mode {transform: rotate(180deg);}
        }

    .buttons
        {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: $reg;
        i { opacity: .2; cursor: pointer; display: inline-block;}
        i:hover { opacity: 1; }
        }

    }

