.editor, .app.night-mode .editor
    {
    height: calc(100% - 160px);
    margin-top: 80px;
    position: relative;
    line-height: 1.65;
    font-size: 14pt;

    textarea
        {
        display: block;
        overflow: auto;
        width: 100%;
        padding: 0;
        height: 100%;
        margin: 0px;
        border: none;
        outline: none;
        background: transparent;
        line-height: 1.65;
        font-family: Merriweather;
        caret-color: red;
        font-size: 14pt;
        resize: none;
        &::selection
            {
            color: white;
            background: red;
            }
        &::-webkit-scrollbar { display: none; }
        }


    &:before, &:after
        {
        content: "";
        width: 100%;
        height: 6em;
        display: block;
        position: absolute;
        left: 0px;
        top: 0;
        pointer-events: none;
        transition: all 2s linear;
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 100%);
        }
    &.cut-top:before
        {
        background: linear-gradient(to bottom, $white 0%, rgba(255,255,255,0) 100%);
        }
    &.cut-bottom:after
        {
        top: auto; bottom: 0px;
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, $white 100%);
        }
    }

.app.night-mode .editor
    {
    textarea { color: $off-white; }
    &.cut-top:before { background: linear-gradient(to bottom, $dark 0%, transparent 100%); }
    &.cut-bottom:after { background: linear-gradient(to bottom, transparent 0%, $dark 100%); }
    }
